<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmSrNCKK-xu398OZmt362JGmC2-1PjA2k</string>
	<key>GCM_SENDER_ID</key>
	<string>963564618375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectsw2Movil</string>
	<key>PROJECT_ID</key>
	<string>notificaciones-importadora</string>
	<key>STORAGE_BUCKET</key>
	<string>notificaciones-importadora.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963564618375:ios:9a6cffe28f515df7136e22</string>
</dict>
</plist>